@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  --d: 2px; 
  background: radial-gradient(
    circle at 
    var(--d) 
    var(--d), 
    #000 calc(var(--d) - 1px), 
    #0000 var(--d)
  ) 
  0 0 / 50px 50px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


